/.idea/.name
/.idea/workspace.xml
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3db14bcf9f25adc33a78.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-04a3bfc441c51ef422d0.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-04489f3770ab97cfeade.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-20T18-33-32-0578.json
/cmake-build-debug/.cmake/api/v1/reply/target-Projeto1-Debug-6a1e8784963327ef0462.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-b57293a485ebf36c82cc.json
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/Graph.cpp.o
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/Graph.cpp.o.d
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/Heap.cpp.o
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/Heap.cpp.o.d
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/network.cpp.o
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/network.cpp.o.d
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/NetworkManager.cpp.o
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/NetworkManager.cpp.o.d
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/Station.cpp.o
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/Station.cpp.o.d
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/UFDS.cpp.o
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/UFDS.cpp.o.d
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/VertexEdge.cpp.o
/cmake-build-debug/CMakeFiles/Projeto1.dir/src/VertexEdge.cpp.o.d
/cmake-build-debug/CMakeFiles/Projeto1.dir/build.make
/cmake-build-debug/CMakeFiles/Projeto1.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/Projeto1.dir/compiler_depend.internal
/cmake-build-debug/CMakeFiles/Projeto1.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/Projeto1.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/Projeto1.dir/flags.make
/cmake-build-debug/CMakeFiles/Projeto1.dir/link.txt
/cmake-build-debug/CMakeFiles/Projeto1.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/Projeto1.dir/main.cpp.o.d
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/Project1
/cmake-build-debug/Project1.cbp
/cmake-build-debug/Projeto1
/cmake-build-debug/Projeto1.cbp
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-4e59dee6de85fe8d3225.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ecde3470a280cb9a92fe.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-04-02T22-39-45-0963.json
/cmake-build-debug/.cmake/api/v1/reply/target-Project-Debug-f9018270318cf52d9327.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-d0502afa689c6663d341.json
/cmake-build-debug/CMakeFiles/Project.dir/src/Graph.cpp.o
/cmake-build-debug/CMakeFiles/Project.dir/src/Graph.cpp.o.d
/cmake-build-debug/CMakeFiles/Project.dir/src/Heap.cpp.o
/cmake-build-debug/CMakeFiles/Project.dir/src/Heap.cpp.o.d
/cmake-build-debug/CMakeFiles/Project.dir/src/network.cpp.o
/cmake-build-debug/CMakeFiles/Project.dir/src/network.cpp.o.d
/cmake-build-debug/CMakeFiles/Project.dir/src/NetworkManager.cpp.o
/cmake-build-debug/CMakeFiles/Project.dir/src/NetworkManager.cpp.o.d
/cmake-build-debug/CMakeFiles/Project.dir/src/Station.cpp.o
/cmake-build-debug/CMakeFiles/Project.dir/src/Station.cpp.o.d
/cmake-build-debug/CMakeFiles/Project.dir/src/UFDS.cpp.o
/cmake-build-debug/CMakeFiles/Project.dir/src/UFDS.cpp.o.d
/cmake-build-debug/CMakeFiles/Project.dir/src/VertexEdge.cpp.o
/cmake-build-debug/CMakeFiles/Project.dir/src/VertexEdge.cpp.o.d
/cmake-build-debug/CMakeFiles/Project.dir/build.make
/cmake-build-debug/CMakeFiles/Project.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/Project.dir/compiler_depend.internal
/cmake-build-debug/CMakeFiles/Project.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/Project.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/Project.dir/depend.make
/cmake-build-debug/CMakeFiles/Project.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/Project.dir/flags.make
/cmake-build-debug/CMakeFiles/Project.dir/link.txt
/cmake-build-debug/CMakeFiles/Project.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/Project.dir/main.cpp.o.d
/cmake-build-debug/CMakeFiles/Project.dir/progress.make
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/Project
/cmake-build-debug/Project.cbp
/cmake-build-debug/Projeto1.cbp
